.notif-dropdown {
  font-family: 'Raleway', sans-serif;
  right: -6.2em;
  top: 130%;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  .notif-list {
    @apply relative border-b-2 border-gray-80 flex items-center min-h-10 pl-2 pt-2 pb-4 pr-16 text-center text-black;
  }
}

.notification {
   .bell-icon {
    padding: 0 !important;
  }
}