#codex-editor{
  @apply mx-auto w-3/4 my-6;
}
.publish{
  @apply bg-white absolute w-full h-full z-40 py-24 px-48;
  .description {
    @apply border-none w-full border-purple-650 border-solid py-2;
    outline: none;
    border-bottom-width: .07rem;
    &[placeholder]:focus::-webkit-input-placeholder {
        transition: text-indent 1.2s 0s ease; 
        text-indent: -100%;
        opacity: .5;
    }
  }
  label{
    @apply opacity-50;
    line-height: 2rem;
  }
  .category-div{
    width: 45%;
    select {
      -webkit-appearance: none; 
      -moz-appearance: none;
      appearance: none; 
      background-repeat: no-repeat;
      background-size: 2rem;
      @apply rounded-lg w-full border-purple-650 px-4;
      border-width: .07rem;
      height: 2.5rem;
      background-color: white;
      background-image: url('../../assets/images/arrow.png');
      background-position: right;
    }
  }
  .tag-div{
    width: 45%;
  }
  .closebtn{
    img{
      width: 2rem;
      height: 2rem;
      opacity: .3;
    }
    @apply absolute;
    top: 2rem;
    right: 5rem;
    cursor: pointer;
  }
}
