.menuTab {
  font-family: 'Montserrat', sans-serif;
  .menu{
      .menuIcon {
        margin-right: 10%;
        img {
          filter: opacity(0.4);
        }
      }
      
    .active {
      color: black;
      font-weight: 600;
      border-color: #835BD8;
    }
    .active path {
      fill-opacity: 100;
    }
    .active img {
      filter: opacity(0.99);
    }
    
  }
}